* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, Helvetica, Neue, sans-serif;
}

header>.container-hd {
    background-color: rgb(38, 94, 232);
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-nav {
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    height: 40px;
    width: 80%;
}

.sec-navbar {
    height: 95%;
    width: 90%;
    max-width: 960px;
    display: flex;
}

.sec-navbar.left, .sec-navbar.right {
    width: 230px;
    min-width: 190px;
}

.sec-navbar.right {
    justify-content: flex-end;
    align-items: center;
}

.button-small-white {
    padding: 0 0.8rem;
    border-radius: 50px;
    border: none;
    background-color: white;
    height: 35px;
}

.button-normal-white {
    padding: 0 1.6rem;
    border-radius: 50px;
    border: none;
    background-color: white;
    height: 45px;
}

.button-normal-lilla {
    padding: 0 1.6rem;
    border-radius: 50px;
    border: none;
    background-color: #8EA1E1;
    color: white;
    height: 45px;
}

.button-normal-black {
    padding: 0 1.6rem;
    border-radius: 50px;
    border: none;
    background-color: #23272A;
    color: white;
    height: 45px;
}

.sec-navbar.center {
    width: 80%;
    min-width: 40%;
}

.sec-navbar.center>ul {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.sec-navbar.center>ul>li>a {
    text-decoration: none;
    color: white;
    padding: 20px 10px;;
    
}

header>.second-container {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-container>.section-header {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header>.content {
    color: white;
    width: 80%;
    height: 75%;
    text-align: center;
}

.content>h1 {
    font-size: 3.3rem;
    text-align: center;
    padding: 1rem 0;
}

.content>p {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    gap: 3rem;
}

.first-block {
    width: 63%;
    height: 90%;
}

.second-block {
    width: 33%;
    height: 90%;
}

h2 {
    font-size: 2.5rem;
    padding: 1.5rem 1rem;
    line-height: 1.4;
}

p {
    padding: 0 1rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

.background-grey {
    background-color: rgb(243, 243, 243);
}

.inverted-section {
    flex-direction: row-reverse;
}

.big-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.section-big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-big-container {
    height: 95%;
    width: 80%;
}

.final-text-promo {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem 1.8rem;
}

.final-text {
    width: 80%;
    text-align: center;
}

.footer-container {
    background-color: rgb(41, 43, 46);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    text-align: end;
    height: 70%;
    width: 80%;
    border: 2px dotted white;
    width: 80%;
    margin: 0 auto;
}

.footer-section{
    width: 100%;
    height: 98%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}


.footer-section .block-right {
    border: 2px dotted white;
    height: 100%;
    width: 40%;
    background-color: rgb(216, 122, 122);
}

.footer-section .little-blocks {
    border: 2px dotted white;
    height: 100%;
    width: calc(100% / 4);
    background-color: rgb(104, 160, 182);
}

.horizontal-block {
    background-color: rgb(167, 242, 234);
    height: 15%;
    width: 80%;
    margin: 0 auto;
    border: 2px dotted white;
    border-top: 6px solid rgb(146, 255, 60);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}

.left-rectangle {
    width: 120px;
    height: 60%;
    background-color: rgb(195, 195, 195);
    border: 2px dotted white;
}
.right-rectangle {
    width: 100px;
    height: 30%;
    margin-right: 10px;
    background-color: rgb(195, 195, 195);
    border: 2px dotted white;
}