
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, Helvetica, Neue, sans-serif;
}

header>.container-hd {
    background-color: rgb(38, 94, 232);
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-nav {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-navbar {
    height: 95%;
    max-width: 960px;
    display: flex;
}

.sec-navbar.left, .sec-navbar.right {
    width: 230px;
    min-width: 190px;
}

.sec-navbar.right {
    justify-content: flex-end;
    align-items: center;
}

.container-button-flex{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.button-small-white {
    padding: 0 0.8rem;
    border-radius: 50px;
    border: none;
    background-color: white;
    height: 35px;
    text-decoration: none;
    color: black;
    line-height: 35px;
}

.button-small-white:hover {
    color: #265EE8;
    box-shadow: 2px 2px 5px black;
    transition-property: color, box-shadow;
    
    transition-duration: .5s;
}

.button-normal-white {
    padding: 0 1.6rem;
    border-radius: 50px;
    border: none;
    background-color: white;
    height: 45px;
}

.button-normal-lilla {
    padding: 0 1.6rem;
    border-radius: 50px;
    border: none;
    background-color: #8EA1E1;
    color: white;
    height: 45px;
}

.button-normal-black {
    padding: 0 1.6rem;
    border-radius: 50px;
    border: none;
    background-color: #23272A;
    color: white;
    height: 45px;
}

.right-side-final-block>.subscribe-btn {
    padding: 0 0.4rem;
    border-radius: 50px;
    border: none;
    background-color: #8EA1E1;
    color: white;
    height: 25px;
    font-size: .7rem;
}

.sec-navbar.center {
    width: 80%;
    min-width: 40%;
}

.sec-navbar.center>ul {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.sec-navbar.center>ul>li>a {
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    font-size: .8rem; 
}

.sec-navbar.center>ul>li>a:hover {
    text-decoration: underline;
}

header>.second-container {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-container>.section-header {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header>.content {
    color: white;
    width: 80%;
    height: 75%;
    text-align: center;
}

.content>h1 {
    font-size: 3.3rem;
    text-align: center;
    padding: 1rem 0;
}

.content>p {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    gap: 3rem;
}

.first-block {
    width: 63%;
    height: 90%;
}

.second-block {
    width: 33%;
    height: 90%;
}

h2 {
    font-size: 2.5rem;
    padding: 1.5rem 1rem;
    line-height: 1.4;
}

p {
    padding: 0 1rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

.background-grey {
    background-color: rgb(243, 243, 243);
}

.inverted-section {
    flex-direction: row-reverse;
}

.big-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.section-big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-big-container {
    height: 95%;
    width: 80%;
}

.final-text-promo {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem 1.8rem;
}

.final-text {
    width: 80%;
    text-align: center;
}

.footer-container {
    background-color: rgb(41, 43, 46);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    height: 70%;
    width: 80%;
    width: 80%;
    margin: 0 auto;
}

.footer-section{
    width: 100%;
    height: 98%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 0;
}


.footer-section .block-right {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lang-selection>img {
    width: 20px;
}

.block-right>h3 {
    font-size: 1.5rem;
    text-align: initial;
    color:#7289DA;
}

.lang-selection {
    padding: 1rem 0;
    font-size: .8rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: white;
}

.lang-selection>i {
    font-size: .6rem;
    color: white;
}

.lang-selection>span {
    display: inline-block;
    padding: 0 .2rem;
}

.social-selection{
    display: flex;
    gap: 1rem;
    color: white;
}

.footer-section .little-blocks {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.little-blocks>h4 {
    font-size: .8rem;
    color: #7289DA;
}

.little-blocks>ul>li{
    list-style: none;
    
}

.little-blocks>ul>li>a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: .3rem 0;
    font-size: .7rem;
    font-weight: 500;
}

.horizontal-block {
    height: 12%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}


.left-side-final-block>img {
    width: 80px;
}

/* added bonus part (wave-layout) */
.wave-container {
    display: flex;
    flex-direction: column;
}

.wave-container .top-svg {
    width: 100%;
    display: block;
    position: relative;
    background: #FFF;
    color: rgb(243, 243, 243);
    overflow: hidden;
}

.wave-container .bottom-svg {
    width: 100%;
    display: block;
    position: relative;
    color: #FFF;
    background-color: rgb(243, 243, 243);
    overflow: hidden;
}